.button-primary {
    background: var(--color-primary);
    border: 0;
    padding: 13px 50px;
    color: var(--color-white);
    transition: 0.4s;
    border-radius: 0;
}

.bg-primary {
    background: var(--color-primary);
    color: #FFFFFF;
}

input[type=text], input[type=email], input[type=password], input[type=number], textarea, select {
    border-radius: 0 !important;
    box-shadow: none;
    font-size: 14px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
}